<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



</head>
<body>
    <header>
        <div class="navbar">
            <img src="logo.svg" alt="logo">

            <ul>
                <li> <a href="#about"> About Me</a></li>
                <li> <a href="#skills"> Skills</a></li>
                <li> <a href="#Projects"> Projects</a></li>
                <li> <a href="#contact"> Contact</a></li>
        
            </ul>
        </div>
        <h1> Welcome to My Portfolio</h1>
    </header>
    <section id="about">
        <h2>About Me</h2>
        <p>
            I am a dedicated Web Developer and Python Developer, skilled in building responsive, user-friendly websites and applications. My expertise includes front-end technologies like HTML, CSS, and JavaScript, as well as back-end development with Python and Django. I have a passion for problem-solving and creating efficient, clean code that delivers great user experiences. I am always eager to learn new technologies and stay updated with industry trends. My goal is to combine creativity and technical skills to develop projects that make an impact.
        </p>
    </section>
    <section id="skills">
        <ul>
            <li> HTML</li>
            <li> CSS</li>
            <li> Java Script</li>
            <li> Python</li>
            <li> Django</li>
            <li> My Sql</li>
        </ul>
    </section>
    <section>
        <h2> Projects</h2>
        <div class="projects">
            <h3> Project 1: To-do List App</h3>
                <p> simple to-do application using django and python.</p>
        </div>
    </section>
    <section>
        <h2> Projects</h2>
        <div class="projects">
            <h3> Project 2: YouTube Downloader</h3>
                <p> A YouTube video downloader clone built django and yt_dlp. 
                </p>
        </div>
    </section>
    <footer id="contact">
        <h2>Contacts</h2>
        <p><i class="fas fa-envelope"></i> Email:<a href="mailto:prasannamakani16@gmail.com">prasannamakani16@gmail.com</a></p>
        <p><i class="fab fa-indeed"></i> Indeed:<a href="prasannamakani16@gmail.com" target="_blank">My Indeed Profile</a></p>
        <p><i class="fab fa-instagram"></i> Instagram:<a href="https://www.instagram.com/prasnna_makani" target="_blank">@prasnna_makani</a></p>

    </footer>

</body>
</html>