{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form2</title>
    <link rel="stylesheet" href="{% static  'css/page_2.css'%}">
</head>
<body>
    <form id="myform" method="post">
        {% csrf_token %}
    <div class="container">
   
    <table>
        <tr>
            <td colspan="6">Do you have a valid VISA? if yes,please mentionthe type of visa:</td>
            <td><input type="radio" name="visa_status" value="yes">Yes</td>
            <td><input type="radio" name="visa_status" value="no">No</td>
        </tr>
        <tr>
            <td colspan="6">Are you open to travel to USA/Sri Lanka on work for a period of months/less during a year?: </td>
            <td><input type="radio" name="relocate_statusyes">Yes</td>
            <td><input type="radio" name="relocate_statusno">No</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>S.NO</td>
            <td class="bold">Languages Known</td>
            <td>Read</td>
            <td>write</td>
            <td>speak</td>
        </tr>
        <tr>
            <td>1</td>
            <td><input type="text" name="languages_Known1"></td>
            <td><input type="checkbox" name="read1"></td>
            <td><input type="checkbox" name="write1"></td>
            <td><input type="checkbox" name="speak1"></td>
        </tr>
        <tr>
            <td>2</td>
            <td><input type="text" name="languages_Known2"></td>
            <td><input type="checkbox" name="read2"></td>
            <td><input type="checkbox" name="write2"></td>
            <td><input type="checkbox" name="speak2"></td>
        </tr>
        <tr>
            <td>3</td>
            <td><input type="text" name="languages_Known3"></td>
            <td><input type="checkbox" name="read3"></td>
            <td><input type="checkbox" name="write3"></td>
            <td><input type="checkbox" name="speak3"></td>
        </tr>
        <tr>
            <td>4</td>
            <td><input type="text" name="languages_Known4"></td>
            <td><input type="checkbox" name="read4"></td>
            <td><input type="checkbox" name="write4"></td>
            <td><input type="checkbox" name="speak4"></td>
        </tr>
        <tr>
            <td colspan="6" class="bold">Family Information(Parents,Brothers,Sisters,Spouse&Children)</td>
        </tr>
        <tr>
            <td>S.NO</td>
            <td>Name</td>
            <td>Relationship</td>
            <td>Date Of Birth</td>
            <td>Age</td>
        </tr>
        <tr>
            <td>1</td>
            <td><input type="text" name="relation1"></td>
            <td><input type="text" name="relationship1"></td>
            <td><input type="date" name="date_of_birth_of_relation1"></td>
            <td><input type="number" name="age_of_relation1"></td>
        </tr>
        <tr>
            <td>2</td>
            <td><input type="text" name="relation2"></td>
            <td><input type="text" name="relationship2"></td>
            <td><input type="date" name="date_of_birth_of_relation2"></td>
            <td><input type="number" name="age_of_relation2"></td>
        </tr>
        <tr>
            <td>3</td>
            <td><input type="text" name="relation3"></td>
            <td><input type="text" name="relationship3"></td>
            <td><input type="date" name="date_of_birth_of_relation3"></td>
            <td><input type="number" name="age_of_relation3"></td>
        </tr>
        <tr>
            <td>4</td>
            <td><input type="text" name="relation4"></td>
            <td><input type="text" name="relationship4"></td>
            <td><input type="date" name="date_of_birth_of_relation4"></td>
            <td><input type="number" name="age_of_relation4"></td>
        </tr>
        <tr>
            <td>5</td>
            <td><input type="text" name="relation5"></td>
            <td><input type="text" name="relation5"></td>
            <td><input type="date" name="date_of_birth_of_relation5"></td>
            <td><input type="number" name="age_of_relation5"></td>
        </tr>
        </table>
    
        <div class="lastinformation">
        <div class="left">
            <p>MNJ Software Ver: 1.5</p>
        </div>
        <div class="center">
            <img src="https://www.mnjsoftware.com/assets/images/logo/logo-blu.png" alt="MNJ Logo">
        </div>
        <div class="right">
            <p>Page 2 of 9</p>
            <p>HR Dept. - FORMS - Application Form.</p>
        </div>
    </div>
    </div>
    <button type="submit" id="hiddenSubmit" style="display: none;"></button>
    </form>
    <script>
        
    let form = document.getElementById("myform");
    let inputs = form.querySelectorAll("input");

    inputs.forEach(input => {
        input.addEventListener("blur", function(){ 
            let allFilled = true;
            
            inputs.forEach(inp => {
                if (inp.value.trim() === "") {
                    allFilled = false;
                }
            });

            if (allFilled) {
                document.getElementById("hiddenSubmit").click(); 
            }
        });
    });

    
   </script>
</body>
</html>